.aboutContainer {
    padding: 40px 50px;
    background: var(--baseDarkGrey);
    border-radius: 25px;
    margin-bottom: 50px;
}

.aboutContainer h2 {
    font-size: 40px;
    text-align: center;
}

.aboutContent__imageWrapper {
    width: 45%;
}

.aboutContent {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.aboutContent__text {
    width: 50%;
}

.aboutContent__text p {
    margin-bottom: 30px;
    font-size: 18px;
}

.aboutJoin {
    margin-top: 40px;
}

.aboutJoin h3 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

.aboutJoin__list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutJoin__list li {
    font-size: 70px;
    margin: 0 20px;
}

@media (max-width: 576px) {
    .aboutContent {
        flex-direction: column;
    }
    .aboutContent__imageWrapper {
        width: 100%;
    }
    .aboutContent__text {
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
}