.podcasts__container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -30px;
}

@media (max-width: 576px) {
    .podcasts__container ul {
        margin: 0;
    }
}