.lastEpisode__container {
    display: flex;
    justify-content: center;

}

.lastEpisode__wrapper {
    border-radius: 25px;
    background: var(--baseDarkGrey);
    padding: 35px 30px;
    display: flex;
    justify-content: center;
}

.lastEpisode__image {
    width: 55%;
    border-radius: 10px;
}

.lastEpisode__content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.lastEpisode__content p{
    font-size: 20px;
    margin-bottom: 30px;
}

.lastEpisode__content h2 {
    font-size: 35px;
    font-weight: 500;
}

.lastEpisode__buttonWrapper {
    margin-top: auto;
}

.lastEpisode__buttonWrapper a {
    text-transform: uppercase;
    font-size: 18px;
}

@media (max-width: 576px) {
    .lastEpisode__wrapper {
        flex-direction: column;
    }

    .lastEpisode__image {
        width: 100%;
    }

    .lastEpisode__content {
        margin-top: 30px;
        margin-left: 0;
    }
    .lastEpisode__content p {
        margin-bottom: 15px;
        text-align: center;
    }
    .lastEpisode__content h2 {
       font-size: 28px;
       text-align: center;
    }
    .lastEpisode__buttonWrapper {
        margin-top: 15px;
        text-align: center;
    }
    .lastEpisode__buttonWrapper a {
        font-size: 16px;
    }
}