:root {
  --baseBlack: #171717;
  --baseDarkGrey: #292929;
  --baseBlue: #001AFF;
  --baseWhite: #ffffff;

  --baseFont: "Roboto", sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--baseFont);
  background: var(--baseBlack);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: var(--baseWhite);
}

div {
  color: var(--baseWhite);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}