.header {
    padding-top: 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    max-width: 300px;
}

.nav__logo svg {
    font-size: 55px;
    color: var(--baseBlue);
    margin-right: 7px;
}

.nav__list {
    display: flex;
}

.nav__list li {
    font-size: 22px;
    margin-left: 30px;
}